
font-face {
	font-family: "joly-display", sans-serif;
	font-weight: 400;
	font-style: italic;
}

body {
	background-image: url("assets/images/desktop_bg.png");
	height: 100vh; /* Set the height of the body to 100% of the viewport height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

h1, h2, h3, h4, p {
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: maroon;
}

/* selected link */
a:active {
  color: red;
}

.joly-regular {
	font-family: "joly-display", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.joly-italic-thin {
	font-family: "joly-display", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.joly-thin {
	font-family: "joly-display", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.jetbrains-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-large {
	font-size: 5rem;
}

.font-medium {
	font-size: 2rem;
}

.font-small {
	font-size: 1.5rem;
}

.text-align-center {
	text-align: center;
}

.centered-div {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-center-button-wrapper {
	margin-top: 1.5rem;
}

.main-center-button {
	border: solid black 2.5px;
	width: fit-content;
	padding: 1rem;
	border-radius: 1000rem;
	margin: auto;
	display: flex;
	text-align: center;
}

/* right arrow icon */
.right-arrow-wrapper {
	width: 40px;
	height: 40px;
	margin-left: 0.75rem;
}

.right-arrow-img-wrapper img {
	width: 100%;
	object-fit: contain;
	margin: auto;
}

/* quiz */
.centered-div-quiz {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quiz-button {
	min-width: 7.5rem;
}

.quiz-buttons {
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin: auto;
	padding-top: 1rem;
}

.quiz-button-text {
	width: 100%;
}